#new-course-btn {
    margin-top: 20px;
}

.aui-iconfont-add {
    padding-right: 4px;
}

.event-wrapper {
    display: flex;
    align-items: center;
    height: 12vh;
    border-bottom: 2px solid #42526e;
}

.event-name {
    font-size: 16px;
}

td {
    text-align: center
}

.event-edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #42526e;
    background-color: #fff;
    border: none;
}

#delete-btn{
    position: fixed;
    bottom: 8vh;
    right: 3vw;
    background-color: #42526e;
    width: 220px;
    height: 40px;
}

.event-price {
    text-align: center;
}

.aui-iconfont-edit-filled {
    padding-right: 5px;
}

.event-edit-btn:hover, .event-edit-btn:focus{
    color: #C0233D;
    border: none;
    outline: none;
}

#event-checkbox-th {
    width: 20px;
}

#event-name-th {
    width: 450px;
}

.event-name {
    max-width: 330px;
}

.event-number {
    font-size: 18px;
}

.dx-checkbox-checked, .dx-checkbox-icon {
    color: #C0233D !important;
}

.checkbox {
    margin-left: 20px;
}

.dx-checkbox-icon {
    min-height: 30px;
    min-width: 30px;
}