.event-info-main {
    max-width: 90%;
    font-size: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-info-description {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.event-info-header {
    padding-bottom: 20px;
}
.event-info-header-item {
    margin-top: 10px;
    display: flex;
    font-size: 18px;
    align-items: center;
}

.aui-icon {
    padding-right: 5px;
}
.event-info-link {
    padding-top: 20px;
    cursor: pointer;
}
.form-popup {
    display: none;
}
form.aui .aui-select2-container {
    width: 300px;
}

#s2id_autogen1 {
    width: 300px;
}

#lead-select{
    margin-top: 10px;
}
#send-application-btn{
    margin-top: 12px;
}