#main {
    padding: 0;
}
#main-header, #sidebar-container {
    display: none;
}
.aui-sidebar-wrapper{
    height: 100%;
}
#event-link-input{
    margin-top: 8px;
}
#start-date-input{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 3px;
    border-width: 1px;
    border-color: rgba(0,0,0,0.25);
    border-radius: 3px;
}
#end-date-input{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 3px;
    border-width: 1px;
    border-color: rgba(0,0,0,0.25);
    border-radius: 3px;
}
#start-time-input{
    text-align: center;
}
#end-time-input{
    text-align: center;
}
.aui-button.aui-button-primary {
    background-color: #E32636;
}
.aui-button.aui-button-primary:hover, .aui-button.aui-button-primary:focus, .aui-button.aui-button-primary:active {
    background-color: #C0233D;
}
.aui-page-panel {
    border: none;
}
/*1px solid #dfe1e6;*/
/*#plugin-nav {*/
/*    min-height: 100%;*/
/*    width: 20%;*/
/*    font-size: 24px;*/
/*    padding-top: 40px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    background-color: #000;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*Шапка ближе к шапке в проде*/
#header .aui-header{
    background-color: #E32636;
}
#header .aui-header .aui-nav .aui-button-primary{
    background-color: #C0233D;
}
.aui-header .aui-dropdown2-trigger, #header .aui-header .aui-nav-link, #header .aui-header .aui-nav-imagelink, #header .aui-header a {
    color: #ffffff;
}
/*Шапка ближе к шапке в проде*/